* {
	max-width: 100%;
	font-family: Kanit, sans-serif;
}

html, body {
	color: white;
	background-color: #333333;
	height: 100;
}

#fixedtop {
    margin: 0%;
    padding: 0%;
    background-color: #4169e1;
    border-bottom: 2px solid white;
}

#navigation {
    max-width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 20px;
    padding-bottom: 20px;
}

#navbarSupportedContent {
    justify-content: right;
}

@media screen and (max-width: 767px) {
    #navbarSupportedContent {
        margin-top: 5%;
    }
}

#logo {
	margin: 0;
	padding: 0;
}

#logo a {
	margin: 0;
	padding: 0;
	text-align: center;
}

#navigation button {
	border: 2px solid white;
}

#bodyContent {
	color: white;
	background-color: #333333;
	margin-top: 100px;
	padding-left: 5%;
	padding-right: 5%;
}

#jumbo {
	margin: auto;
	padding: 0;
}

#title-text {
	text-align: center;
    border: 2px solid #4169e1;
	border-radius: 15px;
	padding: 25px;
}

#break {
	height: 20px;
}

#welcome {
	margin: 0;
	padding: 0;
}

#debug {
	border: 2px solid white;
	border-radius: 15px;
	padding: 25px;
}

#logOut {
	text-align: center;
	padding-bottom: 10px;
}

#loginForm { 
	max-width: 500px;
	padding-top: 25vh;
	color: black;
}

#loginForm h2 {
	color: white;
	text-align: center;
	margin-bottom: 20px;
}

#buttonOne {
	margin-top: 20px;
	margin-bottom: 20px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

#username {
  	margin-bottom: -1px;
  	border-bottom-right-radius: 0;
  	border-bottom-left-radius: 0;
}

#password {
	margin-bottom: -1px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

#passwordOne {
	margin-bottom: -1px;
	border-radius: 0;
}

#confirmPassword {
	margin-bottom: -1px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}