* {
	color: white;
	background-color: #333333;
	margin: 5%;
}

html {
	color: white;
	background-color: #333333;
}

body {
	color: white;
	background-color: #333333;
}

#jumbo {
	display: table;
	margin: auto;
}

#title-text {
	text-align: center;
    border: 2px solid black;
	border-radius: 15px;
	padding: 25px;
}

#break {
	height: 20px;
}